<% if user_signed_in? %>
	<div class="jumbotron center">
		<h1>Welcome <%= current_user.name %></h1>
		<h3>Your email is <%= current_user.email %></h3>
	</div>
<% else %>
	<div class="container" style="margin-top:24px;">
		<img src="https://s3.amazonaws.com/stepupnow/slideshow.jpg" width="900" />
	</div>
<% end %>

<div class="row">
	<div class="col-md-6" id="mission">
		<div class="section_title">
			<h1>Mission</h1>
		</div>

		<p class="mission_text">who we are</p>

		<p>a nonprofit membership organization igniting women &amp; girls to fulfill their potential</p>
		<br/>
		<p class="mission_text">who we serve</p>

		<p>we empower teen girls from under-resourced communities to be confident, college-bound, and career-ready, and propel professional women through connections, collaborations, and continuous development</p>
	</div>

	<div class="col-md-6" id="events">
		<div class="section_title">
			<h1>Events</h1>
		</div>

		<div class="event">
			<h4>Step Up Open House for New Members & Members-to-Be</h4>
			<span><i>1-28-2014 &nbsp;&nbsp; | &nbsp;&nbsp; 6:30pm - 8:30pm</i></span> 
		</div>

		<div class="event">
			<h4>Pathways to Professions Mentoring Field Trip</h4>
			<span><i>2-04-2014 &nbsp;&nbsp; | &nbsp;&nbsp; 4:15pm - 6:30pm</i></span> 
		</div>

		<div class="event">
			<h4>Pathways to Professions Workshop</h4>
			<span><i>2-08-2014 &nbsp;&nbsp; | &nbsp;&nbsp; 12:00pm - 2:00pm</i></span> 
		</div>

		<div class="event">
			<h4>Step Up Open House for New Members & Members-to-Be</h4>
			<span><i>2-28-2014 &nbsp;&nbsp; | &nbsp;&nbsp; 6:30pm - 8:30pm</i></span> 
		</div>

		<a href="#" class="view_all">View all</a>
	</div>
</div>