

<img src="https://s3.amazonaws.com/stepupnow/profile_pic.jpg" align="left" width="128" id="messaging_profile" />
<div class="profile_name_group">
<h1>Cynthia Wingman</h1>
<p>President/CEO of Accounting Inc.</p>
</div>
<div class="profile_social_links_group">
<img src="https://s3.amazonaws.com/stepupnow/fb_icon.png" width="24" />
<img src="https://s3.amazonaws.com/stepupnow/twitter_icon.png" width="24" />
</div>
<p align="right">
<%= render 'form' %>
</p>

