<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for reaching out, <%= @user.name %></h1>
    <p>
      Your message has been sent to Step Up.<br/>

      Thank you for reaching out and have a great day!</p>
  </body>
</html>