<h1>Mentor Search</h1>

<%= form_tag(nil, method: :get) do %>
  <p>You can search by company, skills or industry to find mentors which match your interests.</p>
	<%= text_field_tag "query" %>
	<%= submit_tag 'Search' %>
<% end %>

<% @mentors.each do |mentor| %>
	<p>MENTOR: <%= mentor.user.name %></p>
<% end %>

<% if @mentors.empty? && @is_search_results %>
  <p>No results found.</p>
<% elsif @mentors.empty? %>
  <p>No mentors to display.</p>
<% end %>