<h1>Find your Mentor</h1>

<%= form_tag(nil, method: :get) do %>
	<%= text_field_tag "query", nil, placeholder: "Search for skill sets, sectors, companies, job titles.", id:"mentor_search_field" %>
	<%= submit_tag 'Search' %>
<% end %>

<% @mentors.each do |mentor| %>
	<p>MENTOR: <%= mentor.user.name %></p>
<% end %>

<% if @mentors.empty? && @is_search_results %>
  <p>No results found.</p>
<% elsif @mentors.empty? %>
	<p></p>
  <!--<p>No mentors to display.</p> -->
<% end %>