.footer_copyright_links {
	padding-left: 0px;
	font-size:12px;
}
.footer_copyright_links li.copyright {
	margin-right: 16px;
}
.footer_copyright_links li {
	list-style-type: none;
	display: inline-block;
	margin-right: 8px;
}
#footer_signup {
	width: 300px;
}
#footer_email_field {
	display:inline-block;
	width: 150px;
	margin-right: 16px;
}
#footer_signup_btn {
	display: inline-block;
}
#footer-navigation {
	background: #333;
	color: white;
	padding-top:30px;
}