#mentor_search_field {
	width: 350px;
}
#messaging_profile {
	border-radius: 6px;
	margin-right: 12px;
	margin-top: 24px;
}

#message_message {
	width: 350px;
	height: 200px;
}
#send_message_button {
	padding-left: 0px;
	margin-top: 20px;
}
.profile_name_group {
	width: 160px;
	display: inline-block;
}
.profile_social_links_group {
	width: 50px;
	display: inline-block;
}