$navbar-default-bg: #fff;
$navbar-default-link-color: #000;
$btn-primary-bg: #7f8c8d;

@import "bootstrap";

body {
	padding-top: 0px;
}

.center {
     text-align: center;
}

.navbar-brand {
     font-weight: bold;
}

.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	border: none;
	min-height: 0px;
}
.navbar-right .subheading {
	text-indent: 6px;
	letter-spacing: 7px;
}
.navbar_logo {
	height: 128px;	
	float: left;
}
.navbar_rightrail {
	float: right;
}
#header-navigation {
	background: #E05A01;	
	padding-left: 50px;
	padding-right: 40px;

}
#header-navigation a {
	color: #fff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background: #333;

}

.navbar-nav > li > .dropdown-menu {
	border-radius: 0px;
	background: #333;
}