$navbar-default-bg: #fff;
$navbar-default-link-color: #000;
$btn-primary-bg: #7f8c8d;

@import "bootstrap";

body {
	padding-top: 0px;
}

.center {
     text-align: center;
}

@import "header";

.panel-default {
	width: 800px;
	margin: 20px auto;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#top_container {
	padding: 20px 0;
}



#header-navigation #header_signup_button {
	color: orange;

}
a:hover {
	text-decoration:none;
}
.btn-twitter:hover,.btn-google-plus:hover,.btn-facebook:hover {
	color: orange;
}

.search_results img {
	float:left;
}

.search_results h1 {
	color: #E05A01;
}

.view_profile_button {
	float:right;
}

@import "footer";
