$navbar-default-bg: #fff;
$navbar-default-link-color: #000;
$btn-primary-bg: #7f8c8d;

@import "bootstrap";

body {
	padding-top: 0px;
	font-family: "helvetica";
}

.center {
     text-align: center;
}

@import "header";

.section_title {
	margin-bottom:30px;
}

.section_title h1 {
	padding:5px 10px 5px 10px;
	background-color:#E05A01;
	color:#fff;
	width:120px;
	font-size:24px;
	letter-spacing:1px;
}

.mission_text {
	color:#E05A01;
	font-weight:bold;
	font-size:19px;
	margin-bottom:0px !important;
}

#mission p {
	margin-bottom: 15px;
}

.event {
	margin-bottom: 40px;
}

.panel-default {
	width: 800px;
	margin: 20px auto;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#top_container {
	padding: 20px 0;
}



#header-navigation #header_signup_button {
	color: orange;

}
a:hover {
	text-decoration:none;
}
.btn-twitter:hover,.btn-google-plus:hover,.btn-facebook:hover {
	color: orange;
}

.search_results img {
	float:left;
}

.search_results h1 {
	color: #E05A01;
}

.view_profile_button {
	float:right;
}

@import "footer";
