<h2>Tell us about yourself..</h2>

<p align="center" style="font-size:150%"><%#= link_to "Mentee - I'm a student looking for a mentor", mentees_edit_path %></p>
<p align="center" style="font-size:150%"><%= link_to "Mentor - I'm an adult looking for someone to mentor", mentors_edit_path %></p>