<nav class="navbar navbar-default" role="navigation" id="footer-navigation">
	<div class="col-md-8 col-md-offset-1">
	<div>
		<p>Step Up Women's Network is a nonprofit membership<br />
			organization dedicated to igniting women, sign up today<br />
			to join us.
		</p>
	</div>
	<div>
	<form role="form" id="footer_signup">
	<div class="form-group" id="footer_email_field">
		<label for="exampleInputEmail1"></label>
		<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
	</div>
	<button type="submit" class="btn btn-warning" id="footer_signup_btn">Sign Up</button>
	</form>
	</div>
	<ul class="footer_copyright_links">
	<li class="copyright">&copy; Step up Women's Network. All rights reserved.</li>
	<li>Privacy Policy</li>
	<li>Site Map</li>
	<li>Contact Us</li>
	</ul>
	</div>

	<div class="col-md-3">
		<p><img src="http://placehold.it/150x150" /></p>
	</div>
</nav>
